.links.active {
  color: #2179f3;
  text-decoration: underline;
  font-weight: 600;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}
.login {
  border: 2px solid #2179f3;
  color: #2179f3;
  border-radius: 0.5rem;
  padding: 5px 16px;
  background: linear(
    to bottom right,
    #2179f3 25%,
    #41cae3 100%
  );
  mask-clip: border;
  background-clip: text;
}
.register {
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  padding: 5px 16px;
  
}
.login-link {
  color: #2179f3;
}
.sidebar_link {
  padding: 14px 8px;
  display: flex;
  font-size: 15px;
  align-items: center;
  text-transform: capitalize;
}
.breadcrumb-link.active{
  color: #2179f3;
}
.sidebar_link.active,
.sidebar_link:hover {
  color: #2179f3;
  border-right: 2px solid #2179f3;
}
.sidebar_link:hover {
  border-right: none;
  border-top-right-radius: -0.6rem;
}

.sidebar_link.active {
  border-right: 2px solid #2179f3;
}
[data-theme="light"] .sidebar_link:hover {
  background: var(--chakra-colors-sidebar-light);
}

[data-theme="dark"] .sidebar_link:hover {
  background: var(--chakra-colors-sidebar-dark);
}
[data-theme="dark"] .sidebar_link.active:hover {
  border-right: 2px solid #2179f3;
}

.react-calendar {
  border: none;
  border-radius: 8px;
  /* width: 400px; */
}
.links:hover{
color: #2179f3;
}
.react-calendar__tile {
  height: 40px;
  font-size: 13px;
  color: #47556a;
}
[data-theme="dark"] .react-calendar__tile {
  color: var(--chakra-colors-text-dark);
}
[data-theme="dark"] .react-calendar__month-view__days__day--weekend {
  color: crimson;
}
[data-theme="dark"] .react-calendar__tile--now {
  background: #2179f3;
  color: white;
}
[data-theme="light"] .react-calendar__tile--now {
  background: #2179f3;
  color: white;
}

.react-calendar__tile--active {
  background: #2179f3;
  color: white;
  border-radius: 0.4rem;
  height: 20px;
  width: 20px;
}

.react-calendar__tile--hover {
  background-color: #edf2f7;
  border-radius: 50%;
}

.react-calendar__tile {
  height: 40px;
  width: 40px;
  font-size: 13px;
  color: #47556a;
}

.react-calendar__tile--now {
  background: #2179f3;
  color: white;
  border-radius: 0.4rem;
  height: 40px;
  width: 40px;
}
.react-calendar__month-view__days__day--weekend {
  color: crimson;
}
.react-calendar__tile--active {
  background: #2179f3;
  color: white;
  border-radius: 10%;
  height: 40px;
  width: 40px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: start;
}

.react-calendar__navigation__label {
  font-size: 22px;
  font-weight: bold;
}
[data-theme="light"].react-calendar__navigation__label {
  color: var(--chakra-colors-primary-light);
}
[data-theme="dark"].react-calendar__navigation__label {
  color: var(--chakra-colors-text-dark);
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background-color: transparent;
  border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 5px;
  border: none;
  outline: none;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;

  border: none;
  outline: none;
}
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.font-bold {
  font-weight: bold;
}

.text-white {
  color: #ffffff;
}

.h-auto {
  height: auto;
}

.rounded {
  border-radius: 0.25rem;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.border-dashed {
  border-style: dotted;
}

.border-2 {
  border-width: 2px;
}

.border-[cae5ff] {
  border-color: #cae5ff;
}

.bg-[EDF2F7] {
  background-color: #EDF2F7;
}
